.help-people {
    position: absolute;
    text-align: center;
    color: white;
}

#heading {
    font-size: 80px;
    padding-left: 5%;
}

#why-help {
    font-size: 40px;
    padding-left: 5%;
}

#where {
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(207, 78, 55);
    padding: 10px 40px;
}

.picture-quality {
    width: 100%;
    margin-bottom: 150%;
    height: 700px;
}

.part-2nd {
    margin-bottom: 200%;
    height: 10px;
    width: 100%;
}

#party {
    text-align: center;
    font-size: 50px;

}