.help-people {
    position: absolute;
    text-align: center;
    color: white;
}

.picture-1 {
    width: 100%;
    height: 700px;
}

#heading {
    font-size: 80px;
    padding-left: 5%;
}

#why-help {
    font-size: 40px;
    padding-left: 5%;
}

#where {
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(207, 78, 55);
    padding: 10px 40px;
}

.picture-quality {
    width: 100%;
    margin-bottom: 150%;
    height: 700px;
}

.part-2nd {
    height: 200px;
    width: 100%;
}

.party {
    text-align: center;
    font-size: 30px;
}

.amount-of-money {
    display: inline;
    text-align: center;
    font-size: 40px;
    margin-left: 35%;

}

#tk-1 {
    background-color: rgb(136, 129, 129);
    padding-left: 5%;
    margin-left: 5%;
}

#other {
    margin-top: 2%;
    text-align: center;
    font-size: 20px;
}

#line {
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 20%;
    height: 40px;
}

#where-2nd {
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(207, 78, 55);
    padding: 10px 40px;
    margin-left: 45%;
    margin-top: 50%;
    font-size: 20px;
}

.donate-plan {
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}

h2 {
    font-size: 50px;
    margin-left: 2%;
}

.donate-ways {
    display: flex;
    padding: 10%;
}

h6 {
    font-size: 30px;
    margin-left: 2%;
}

.whole-foods {
    background-color: aqua;
    margin-right: 5%;

    font-size: 15px;

}

#icons {
    margin-top: 2%;
    margin-left: 2%;
}

#f-shelter {
    margin-left: 2%;
    font-size: 18px;
}

.shelter-home {
    background-color: antiquewhite;
    margin-right: 5%;

    font-size: 15px;
}

.frame {
    background-color: bisque;
    margin-right: 2%;
    margin-left: 2%;
}

.lives-depends {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

#help-p {
    font-size: 20px;
    margin-left: 2%;
}

#where-p {
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(207, 78, 55);
    padding: 10px 40px;
    font-size: 20px;
    margin-left: 2%;

}

.survive {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.updates {
    text-align: center;
    margin-top: 7%;
}

#update-i {
    font-size: 24px;
    margin-left: 20%;
    margin-right: 20%;
}

.box {
    background-color: antiquewhite;
    padding: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20%;

}

#box-1 {
    background-color: whitesmoke;
    padding: 2%;
    text-align: start;
    margin-right: 40%;
    margin-left: 10%;
}

#box-2 {
    background-color: rgb(231, 103, 81);
    padding: 2%;
    margin-right: 40%;
    margin-left: 10%;
}

.footer {
    background-color: black;
    padding: 5%;
    color: brown;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

#footer-text {
    color: white;
    font-style: normal;
    font-size: 20px;
}